<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SC2Patch150Relocalizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SC2Patch150Relocalizer.Properties.Settings>
            <setting name="SC2Location" serializeAs="String">
                <value>C:\Program Files (x86)\StarCraft II</value>
            </setting>
            <setting name="SC2VariablesLocation" serializeAs="String">
                <value>C:\Users\simon\Documents\Starcraft II\Variables.txt </value>
            </setting>
        </SC2Patch150Relocalizer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
